<template name="mainForm">
	<form>
		<div class="col-md-3"><input type="text" id="itinWhen" name="itinWhen" placeholder="When are you leaving?"></div>
		<div class="col-md-3"><input type="text" id="itinDuration" name="itinDuration" placeholder="How long is your vacation?"></div>
		<div class="col-md-3"><input type="text" id="itinBudget" name="itinBudget" placeholder="What's your budget?"></div>
		<div class="col-md-3"><input type="submit" value="Take Me to Thailand"></div>	
	</form>
</template>

<template name="secondaryForm">
	<form>
		<input type="text" id="itinName" name="itinName">
		<input type="email" id="itinEmail" name="itinEmail">
		<textarea id="itinDescription" name="itinDescription"></textarea>
		<input type="submit" value="Submit my Itinerary">
	</form>
</template>

